.vault-container{
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: gray;
    border-radius: 10px;
    overflow-x: scroll;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: fit-content;
    margin-bottom: 2rem;
}
.anime{
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: fit-content;
    padding-right: 1rem;
}

.vault-container:hover{
    border-color: #F6F740;
    transition: all .2s ease-in-out;
    transform: scale(1.05);
}

.vault-name{
    display: flex;
    color: #FB8B24;
    text-align: center;
    justify-content: center;
}
.remove-button{
    background-color: rgba(66, 75, 84, 1);
    color: #F6F740;
    border: solid;
    border-color: gray;
    border-radius: 15px;
    width: 80px;
    height: 40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.remove-button:hover{
    border-color: #F6F740;
}