.card-container{
    display: flex;
    flex-direction: column;
    border: solid gray;
    border-radius: 10px;
    width: 20%;
    height: 300px;
    margin-left: 2rem;
    margin-right: 2 rem;
    margin-bottom: 2rem;
    background-color: gray;
    box-shadow: 5px 5px 10px #F6F740;
    /* 0.8rem 0.8rem 2rem gray; */
}

.img-container{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    overflow: hidden;
}

.img-container image{
    overflow: hidden;
    object-fit: contain;
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.anime-card__title {
    text-decoration: none;
    font-size: 20px;
    color: #FB8B24;
}

.info-container h2{
    display: flex;
    justify-content: center;
    
    color: rgba(251, 139, 36, 0.6);
    text-align: center;
    margin: 1rem;
}

.hover {
    transition: all .2s ease-in-out;
}

.hover:hover {
    transform: scale(1.05);
}