.landing-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    background-color: #424B54;
}

.searchbar{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.anime-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}