.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: #424B54;
    border: solid, gray;
    border-radius: 10px;
    outline: none;
}

.container input{
    border: solid gray;
    border-radius: 10px;
    background-color: #424B54;
    color: #F6F740;
    width: 50%;
    height: 40px;
    margin-top: 1rem;
    padding-left: 1rem;
    outline: none;
}

.container input:hover {
    border-color: #F6F740;
}

.login{
    background-color: rgba(66, 75, 84, 1);
    color: #F6F740;
    border: solid;
    border-color: gray;
    border-radius: 15px;
    width: 80px;
    height: 40px;
    margin-top: 1rem;
}

.login:hover{
    border-color: #F6F740;
}

.demo-login{
    background-color: rgba(66, 75, 84, 1);
    color: #F6F740;
    border: solid;
    border-color: gray;
    border-radius: 15px;
    width: 80px;
    height: 40px;
    margin-top: 1rem;
}

.demo-login:hover{
    border-color: #F6F740;
}