.signup-button{
background-color: rgba(66, 75, 84, 1);
color: #F6F740;
border: solid;
border-color: gray;
border-radius: 15px;
width: 80px;
height: 40px;
}

.signup-button:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.05);
    border-color: rgb(246, 247, 64);
}