.page-container {
    display: flex;
    justify-content: start;
    height: 100vh;
}
.profile-info-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-self: flex-start;
    width:50%;
    height: 300px;
}
.profile-pic{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic img{
    margin-left: -25%;
}

.user-title{
    display: flex;
    justify-content: start;
}

.vault-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    border-top: solid gray;
}

.vaults{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}